{% extends "base.html" %}
{% load static %}
{% block title %}
Dossier client
{% endblock title %}
{% block content %}
<style>
    .card-title {
        font-size: 1.5rem;
    }
</style>
<div class="content-wrapper">
    <input type="hidden"
    id="input_session_pos_key"
    value="{{ request.session.session_pos_key }}">
    <section class="content">
        <div class="container-fluid">
            <h2 class="text-center display-4">Wear a jacket test</h2>
            <h5 class="text-center display-5">Please enter critareas </h5>
            <h5 class="text-center display-5">  # cat_language('colorpoint shorthair', 'nn')</h5>
            
            <div class="row" style="display: flex; justify-content: center;">
                <form method="POST" action="{% url 'cat_language/search/' %}" class="form-inline" style="width: 60%;">
                    {% csrf_token %}
                    <div class="col-md-4">
                        <div class="input-group">
                            <input type="text"
                            class="form-control form-control-lg"
                            name="breed"
                            required
                            placeholder="breed">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <input type="text"
                            class="form-control form-control-lg"
                            name="language"
                            required
                            placeholder="language">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-primary btn-block">Search</button>                
                    </div>
                </form>
                
            </div>
            <hr>
            <h2 class="text-center display-4">Search results</h2>
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-12">
                            <div class="info-box">
                                <span class="info-box-icon bg-success"><i class="fas fa-box-open"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">
                                        {% if result_list == None %} Enter critareas {% endif %}
                                        {% if result_list == True %} Yes {% endif %}
                                        {% if result_list == False %} No {% endif %}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                </div>
            </div>
        </div>
    </section>
</div>
<!-- /.modal-dialog -->
</div>
{% endblock content %}
