{% extends "base.html" %}
{% load static %}
{% block title %}
Dossier client
{% endblock title %}
{% block content %}
<style>
    .card-title {
        font-size: 1.5rem;
    }
</style>
<div class="content-wrapper">
    <input type="hidden"
    id="input_session_pos_key"
    value="{{ request.session.session_pos_key }}">
    <section class="content">
        <div class="container-fluid">
            <h2 class="text-center display-4">Starship piloted species search</h2>
            <h5 class="text-center display-5">Please entre search critarea</h5>
            <h5 class="text-center display-5"> starship_piloted_species('Death Star') </h5>
            <h5 class="text-center display-5"> starship_piloted_species('Jedi starfighter') </h5>
            
            <div class="row" style="display: flex; justify-content: center;">
                <form method="POST" action="{% url 'starship_piloted_species/search/' %}" class="form-inline" style="width: 60%;">
                    {% csrf_token %}
                    <div class="col-md-8">
                        <div class="input-group">
                            <input type="text"
                            class="form-control form-control-lg"
                            name="name"
                            required
                            placeholder="starship name">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-primary btn-block">Search</button>                
                    </div>
                </form>
                
            </div>
            <hr>
            <h2 class="text-center display-4">Search results</h2>
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    
                    {% if result_list_len > 0 %}

                    {% for result in result_list%}
                    
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-12">
                            <div class="info-box">
                                <span class="info-box-icon bg-success"><i class="fas fa-box-open"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">Specie name : {{ result }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-12">
                            <div class="info-box">
                                
                                <h1> 0 Vehicle found
                                
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    
                    
                </div>
            </div>
        </div>
    </section>
</div>
<!-- /.modal-dialog -->
</div>
{% endblock content %}
