{% extends "base.html" %}
{% load static %}
{% block title %}
Dossier client
{% endblock title %}
{% block content %}
<style>
    .card-title {
        font-size: 1.5rem;
    }
</style>
<div class="content-wrapper">
    <input type="hidden"
    id="input_session_pos_key"
    value="{{ request.session.session_pos_key }}">
    <section class="content">
        <div class="container-fluid">
            <h2 class="text-center display-4">Vehicle search API</h2>
            <h5 class="text-center display-5">Please entre search critarea</h5>
            <h5 class="text-center display-5"> E. homework_6.sw_vehicle_search(755, 128, 252850) </h5>
            
            <div class="row" style="display: flex; justify-content: center;">
                <form method="POST" action="{% url 'sw_vehicle_search/search/' %}" class="form-inline">
                    {% csrf_token %}
                    <div class="col-md-2">
                        <div class="input-group">
                            <input type="number"
                            class="form-control form-control-lg"
                            name="cargo_capacity"
                            required
                            placeholder="cargo_capacity">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="input-group">
                            <input type="numer"
                            name="max_speed"
                            class="form-control form-control-lg"
                            required
                            placeholder="max_speed">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="input-group">
                            <input type="number"
                            name="cost"
                            class="form-control form-control-lg"
                            required
                            placeholder="cost">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-primary btn-block">Search</button>                
                    </div>
                </form>
                
            </div>
            <hr>
            <h2 class="text-center display-4">Search results</h2>
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    
                    {% if result_list_len > 0 %}

                    {% for result in result_list%}
                    
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-12">
                            <div class="info-box">
                                <span class="info-box-icon bg-success"><i class="fas fa-box-open"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">name : {{ result.name }}</span>
                                    <span class="info-box-text">Cargo capacity : {{ result.cargo_capacity }}</span>
                                    <span class="info-box-text">Cost : {{ result.cost_in_credits }}</span>
                                    <span class="info-box-text">Max speed : {{ result.max_atmosphering_speed }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-12">
                            <div class="info-box">
                                
                                <h1> 0 Vehicle found
                                
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    
                    
                </div>
            </div>
        </div>
    </section>
</div>
<!-- /.modal-dialog -->
</div>
{% endblock content %}
